body, html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #444;
  font-weight: 300;
  transition: 0.2s ease-in;
}

a:hover {
  color: #e91e63;
  cursor: pointer;
}

::selection {
  background-color: #e91e63;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verticle-center {
  height: 100%;
}

.name {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.name h1 {
  margin-bottom: 0;
}

@media (max-width: 485px) {
  .name h1 {
    text-align: center;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

.home-links {
  text-align: center;
  margin: 15px 0 30px 0;
}

.home-links li {
  display: inline;
  font-size: 14px;
  letter-spacing: 2px;
  padding-right: 10px;
}

.tag-line h2 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  color: #777;
}
