{{ partial "header" . }}
<div class="container">
  <header class="name common-header">
    <a href="{{ .Site.BaseURL }}">Francisco Mateo</a>
  </header>
    <section class="tag-line">
    <h2>{{ .Site.Params.tagLine }}</h2> 
  </section>
  <section class="home-links">
    <ul>
      <li><a href="{{ "portfolio" | relURL }}">Portfolio</a></li>
      <li><a href="https://github.com/ciscoo">Github</a></li>
      <li><a href="{{ "resume.pdf" | relURL }}">Resume</a></li>
    </ul>
  </section>
  <section class="project-details">
    {{ .Content }}
  </section>
</div>
{{ partial "footer" . }}
