@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import "utils/palette";
@import "breakpoints";
@import "susy";

html {
  font-family: 'Roboto', Helvetica, sans-serif;
  background: url('../img/cover.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  color: #ffffff;
  @include container(60em);
}


header {
  text-align: center;
}

section {
  text-align: center;
  margin-top: 28%;
  line-height: 2em;
}

h1 {
  font-weight: 100;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  @media (max-device-width : 373px) {
      font-size: 1.5em;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: 1em;
  
  @media (max-device-width : 373px) {
      letter-spacing: 0;
  }
}

footer {
  text-align: center;
  bottom: 0;
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
  }
}
.logo {
  height: 50px;
  width: 50px;
  margin-top: 2em;
}

.github-icon {
  background: url('../img/github.svg') no-repeat center center;
  display: block;
  height: 30px;
  width: 30px;
  margin-top: 15em;

  @media (max-device-width : 373px) {
    margin-top: 5em;
  }
}