$primary-color-light:  #C2185B;
$primary-color:        #E91E63;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
