body {
  color: #222;
  line-height: 1.4;
  font-family: 'Roboto Mono', monospace;
  padding: 5vh 10vw;
}

::-moz-selection {
  background: rgba(79, 175, 191, 0.5);
  text-shadow: none;
}

::selection {
  background: rgba(79, 175, 191, 0.5);
  text-shadow: none;
}

.container {
  display: grid;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

.me-llamo {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1.6em;
  max-width: 26em;
}

a {
  text-decoration: none;
  color: #e91e63;
  transition: 0.2s ease-in;
}

a:hover {
  color: #e9c71e;
}
